# This repository is owned and maintained internally by Envato (placeit-envato).
# It originated as a copy of the upstream personal project ktlacaelel/isna,
# which has been formally absorbed. The fork relationship has been severed and
# there is no automated sync from any upstream.
#
# All changes require review from the owning team.

* @placeit-envato/mx-engineering
